<div class="row">
    <h1>Estudios</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Tecnico Superior en Programación</h1>
                <h3> - 2022 / presente</h3>
            </li>
            <p>Tecnucatura Universitaria en Programación - Universidad Tecnológica Nacional - Facultad Regional Tucumán.</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 2</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit consequuntur nesciunt ullam quibusdam eos ex, blanditiis soluta omnis? Explicabo quis voluptates ab obcaecati unde sapiente vel incidunt vitae molestias pariatur.</p>
        </ul>
        <ul>
            <li>
                <h1>Educacion 3</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit consequuntur nesciunt ullam quibusdam eos ex, blanditiis soluta omnis? Explicabo quis voluptates ab obcaecati unde sapiente vel incidunt vitae molestias pariatur.</p>
        </ul>
    </div>
</div>

