<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../../../assets/html5.png'"
            [showImage]="true"
            [imageWidth]="100"
            [imageHeight]="100"
            [showUnits]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#84a98c'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../../../assets/css3.png'"
            [showImage]="true"
            [imageWidth]="100"
            [imageHeight]="100"
            [showUnits]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#84a98c'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../../../assets/javascript.png'"
            [showImage]="true"
            [imageWidth]="100"
            [imageHeight]="100"
            [showUnits]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#84a98c'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../../../assets/Github-logo.png'"
            [showImage]="true"
            [imageWidth]="100"
            [imageHeight]="100"
            [showUnits]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#84a98c'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../../../assets/Csharp_Logo.png'"
            [showImage]="true"
            [imageWidth]="140"
            [imageHeight]="140"
            [showUnits]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#84a98c'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [imageSrc]="'../../../assets/BDD.png'"
            [showImage]="true"
            [imageWidth]="100"
            [imageHeight]="75"
            [showUnits]="false"
            [outerStrokeWidth]="13"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#84a98c'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
            [lazy]="true"
        ></circle-progress>
    </div>
</div>    
